.right-top {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 60px;

    .right-top-username {
        position: relative;
        height: 40px;
        margin-right: 10px;
        text-align: center;
        span {
            color: black;
            font-size: 20px;
            line-height: 40px;
        }
    }

    .right-top-avatar {
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        box-sizing: border-box;
        border-radius: 50%;

        img {
            height: 40px;
            border-radius: 50%;
        }
    }
}