.right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 83%;

  .right-middle {
    display: flex;
    height: 83%;
    width: 60%;
    margin: 0 auto;
    overflow: auto;
    scrollbar-width: no;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(219, 226, 234);
      border-radius: 50%;
      height: 400px;
      width: 400px;
      margin: auto auto;

      span {
        font-size: 40px;
        font-weight: 900;
      }
    }
    
  }
}
